.navbar-custom {
  height: 130px;
  background-color: rgb(68, 139, 4);
}

.glyphicon-log-out {
  font-size: 28px;
  padding: 8px 3px 0 8px;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 25px;
}

.bottom {
  background-color: rgb(68, 139, 4);
  width: 100%;
  height: 130px;
  position: absolute;
  bottom: 0px;
}

span#copyright {
  font-size: 20px;
  color: beige;
}

.btn-xl {
  font-size: 3vw;
  color: beige;
  width: 20%;
  height: 100px;
  position: absolute;
  top: 40%;
  right: 20%;
  background-color: rgb(68, 139, 4);
}

.btn-ml {
  font-size: 3vw;
  color: beige;
  width: 20%;
  height: 100px;
  position: absolute;
  top: 40%;
  left: 20%;
  background-color: rgb(68, 139, 4);
}

.copyright {
  font-size: 20px;
  color: beige;
  text-align: center;
}

.container-custom {
  margin-right: 10px;
}

.format {
  border: 1px;
}

.collapse.navbar-collapse {
  z-index: 10; /* To make the menu apear on top of everything*/
}
.navbar-nav.ms-auto {
  width: auto;
  background-color: rgb(68, 139, 4); /* Background of the */
  align-items: center; /* Alignment of the menu items*/
}

.btn.btn-light.ms-3 {
  margin-top: 10px; /*to add spaces in between the list*/
  margin-bottom: 10px; /*to add spaces in between the list*/
}

/*ID found page*/

.btn-ml2 {
  font-size: 1.2em;
}

.innercolour {
  width: 50%;
  padding: 10px;
  height: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40%;
  left: 25%;
  background-color: rgb(68, 139, 4);
}

.innercolourfound {
  width: 50%;
  padding: 10px;
  height: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 40%;
  left: 25%;
  background-color: rgb(68, 139, 4);
}

.instruction_con {
  position: relative;
}

.instruction_button button {
  margin: 5px;
}

.instructions {
  font-size: 20px;
  color: beige;
  text-align: center;
}

/*Keeptrying*/
.ml4 {
  width: 10%;
  font-size: 1.5em;
}

/* Media queries */
@media screen and (max-width: 480px) {
  .instructions {
    font-size: 14px;
  }

  .instruction_button {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .instruction_button button {
    width: 100%;
  }
}

/* admin home*/

.btn-xla {
  font-size: 2.2vw;
  color: beige;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 10px;
  background-color: rgb(68, 139, 4);
}

.transform {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adminHome {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
  height: auto;
}

.login_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_button button {
  margin: 5px;
}

.input_group {
  margin: 5px 0;
}

.login_label {
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  color: white;
  box-shadow: 2px 2px 5px 2px black, 2px 2px 5px yellow;
}

.login_colour {
  width: 60%;
  padding: 10px;
  height: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30%;
  left: 20%;
  background-color: rgb(68, 139, 4);
}

#login_centre {
  display: flex;
  justify-content: center;
}

.browsing {
  width: 40%;
  padding: 10px;
  height: auto;
  margin: 10px;
  background-color: rgb(68, 139, 4);
}

.button_s {
  margin: 5px 10px;
}

.button_design {
  background-color: rgb(68, 139, 4);
  color: beige;
}

.upload {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

/* create account styles */
.header_con {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(68, 139, 4);
}

.main_con {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_contable {
  position: relative;
  width: 100%;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.content_con {
  background-color: rgb(68, 139, 4);
  padding: 15px;
}

/* form section */
.form_title {
  margin-bottom: 15px;
  width: 100%;
  height: auto;
  color: white;
  padding: 10px;
  box-shadow: 2px 2px 5px 2px black, 2px 2px 5px yellow;
}

.input_group_form {
  width: 100%;
  height: auto;
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}

.input_group_form input {
  border-radius: 10px;
  border: none;
  padding: 5px;
}

.input_group_form label {
  color: white;
  margin-right: 10px;
}

#inputGroupFile01 {
  background-color: aliceblue;
}

.footer {
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: rgb(68, 139, 4);
}

#userphoto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.uploadid {
  width: auto;
  padding: 10px;
  height: auto;
  margin: 10px;
  background-color: rgb(68, 139, 4);
}

/* sorting page */
.sort {
  background-color: rgb(68, 139, 4);
  padding: 15px;
  color: beige;
}

.content_sort {
  /* background-color: rgb(68, 139, 4); */
  color: beige;
  font-size: 2vw;
  padding: 15px;

  top: 20px;
}

.viewid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.align_centre {
  background-color: rgb(68, 139, 4);
  padding: 10px;
  text-align: center;
}

.align_right {
  float: left;
}

#float_right {
  float: right;
}

/* card body */
.card-body p {
  padding: 3px;
  background-color: rgb(68, 139, 4);
  border-radius: 10px;
}

.adjust {
  position: relative;
  top: 30px;
  border: 1px solid;
}

.header_style {
  background-color: rgb(68, 139, 4);
}

/* sign up */
.sign_up {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* activity */
.activity {
  background-color: rgb(68, 139, 4);
  
}

.activity:hover, .activity:focus{
  background-color: rgb(45, 85, 9);
}



.btn-danger{
  color: black;
}

.btn-danger:focus{
  color: black;
}
.btn-danger:hover{
  color: black;
}

/* table style */
.title_style {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.title_style div {
  padding: 10px;
  background-color: rgb(68, 139, 4);
  max-width: 300px;
  color: beige;
  font-size: 1.5rem;
}

/* accordion */
#heading{
  padding: 10px;
  background-color: rgb(68, 139, 4);
  color: beige;
  font-size: 1.5rem;
}

#live_modal{
  background-color: rgb(68, 139, 4);
}